body {
    background-color: #8ecae6; /*Different color palette?*/
    color: #023047;
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    background-color: #023047;
    color: #fb8500;
    padding: 15px;
    justify-self: start;  /* How to make it so there is no space at the start and end?*/
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.score {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin-bottom: 0;
}

.score div{
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.playerChoice {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    filter:sepia(.45);
}

button{
    border-radius: 15px;
    background-color: #219ebc;
    color: #ffb703;
}

.footer {
    background-color: #023047;
    color: #fb8500;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}
.hidden {
    display: none;
}